.eventBody{
  width:90%;
  margin: auto;
  font-size: 18px;
}
.events{
  margin-top: 30px;
  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}
.title{
  margin-top: 75px;
  margin-bottom: 75px;
}
.link{
  text-decoration: none;
}
.eventTitle{
  margin-top: 75px;

}
.eventDate{
  margin-top:10px;
  color:rgb(100,100,100);
  text-align: center;
}
.eventVideo{
  width:500px;
  margin: auto;
  
}
.event{
  margin-bottom: 50px;
}

.eventCardLoading{
  margin: auto;
  margin-bottom: 40px;
}

@media screen and (max-width:500px) {
  .eventVideo{
    width:300px;
  }
}