.civil{
  margin-bottom: 150px;
}

.electrecity{
  margin-bottom: 150px;
}
.general{
  margin-bottom: 150px;
}
.mechanical{
margin-bottom: 150px;
}

.petro{
  margin-bottom: 150px;
}
.telecom{
  margin-bottom: 150px;
}
