:root{
  --sections-background-color:rgb(245,245,245);
  --section-width:100%;
  
}

.flex-newest-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  flex-direction: row;
  width:var(--section-width);
  margin: auto;

}

.sliders-container{
  width:500px;
  margin: 30px;
  
  margin-bottom: 100px;
  text-align: center;
}

.content{
  display: flex;
  
}


.section-title{
  margin-right:8%;
  margin-top: 45px;
  
}
.top-news{
  
  padding: 10px;
  width: var(--section-width);
  margin: auto;
}
.slider-card{
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: white;
  border-radius:10px;
  box-shadow:0.5px;
  
}
h1{
  text-align: center;
}

.carousel-title{
  margin-bottom: 52px;
}

.link{
  font-size: 15px;
}
.thumbnail-wrapper{
  width:210px;
  margin: auto;
}
.title-wrapper{
  display: flex;
  justify-content: right;

}

.latest-version{
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  
  width: var(--section-width);
  margin: auto;
  margin-bottom: 100px;
  

}
.paper-wrapper{
  margin: 20px;
}
.title-wrapper{
  display: flex;
  align-items: center;
}
.paper-title{
  margin-top: 0px;
  margin-bottom: 0px;
}
.paper-author{
  color:rgb(100,100,100);
  font-weight: 500;
  margin-top: 10px;
}


@media only screen and (max-width:1100px){
  .sliders-container{
    width: 90vw;
    margin: auto;
    position: relative;
  
  }
  
  .top-news{
    
    padding: 0px;
  }
  .paper-wrapper{
    width:330px;
    margin: auto;
  
  }
  .content{
    flex-direction: row;
    flex-wrap: wrap;
  }

}


