.flex-newest-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(245,245,245);
  flex-direction: row;
  
}
.sliders-container{
  width:500px;
  margin: 30px;
  margin-bottom: 100px;
  text-align: center;
}

.content{
  display: flex;
  
  
}
.top-news{
  background-color: rgb(245,245,245);
  padding: 10px;
  border-radius: 10px;
}
.slider-card{
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: white;
  border-radius:10px;
  box-shadow:0.5px;
  
}
.link{
  font-size: 15px;
}
.latest-version{
  padding:10px;
  background-color: rgb(245,245,245);
  border-radius: 10px;
  margin-bottom: 100px;
}
.paper-wrapper{
  margin: 20px;
}


@media only screen and (max-width:1100px){
  .sliders-container{
    width: 90vw;
    margin: auto;
    position: relative;
  
  }
  
  .top-news{
    width:100%;
  }
  .paper-wrapper{
    width:330px;
    margin: auto;
  
  }
  .content{
    flex-direction: row;
    flex-wrap: wrap;
  }

}


