.introduction{
margin-top:20px;
padding: 5px;
width:80%;
margin-right: 10%;
margin-bottom: 10%;
}
.initial-image{
  width:100%;
}
.image-wrapper{
  width: 60%;
  margin: auto;
}
.article-file{
  width: 90%;
  margin: auto;
}
.m-image{
width:35%;
height: 35%;
margin-bottom: 50px;
margin-top: 20px;
margin-right: 70px;
border-radius: 10px;

}
.magazine-file-title{
    text-align: center;
}
.intro-title{
  text-align: center;
}
.intro-date{
  text-align: center;
  color: gray;
}
.intro-body{

font-size: 18px;
text-align: right;
line-height: 1.5;
width:55%;
margin-right: 20px;
}
p{
font-stretch: extra-expanded;
}

.intro-flex{
  display: inline-flex;
  flex-direction: row-reverse;
}

.dialog{
color:rgb(50,50,50);
margin-right:20%;
width:60%;
}
.dialog p{
text-align: center;
font-size:17px;
line-height: 30px;
margin-top: 0px;
}
.interview{
  margin: 20px;
}

@media only screen and (max-width:600px){
  .intro-body{
  font-family: arial;
  font-size: 20px;
  text-align: right;
  line-height: 1.5;
  width:100%;
  margin-right: 0px;
  
}
.image-wrapper{
  width: 95%;
  margin: auto;
}

.intro-flex{
  display:block;

}
.m-image{
  width: 90%;
  margin-right: 5%;
}
.dialog{
  width:95%;
  margin-right: 2%;
}


}
.interview{
  margin-bottom: 100px;}
