.introduction{
  width:80%;
  margin: auto;
  margin-bottom: 100px;
}
.crop{
  width:400px;
  overflow: hidden;
  border-radius: 10px;
  margin-top:30px;
  
  
}
.crop-loading{
  width:400px;
  overflow: hidden;
  border-radius: 10px;
  margin-top:30px;
  height:500px;
}
.intro-image{
  position: relative;
  
}
.intro-body{
  font-size: 18px;
  text-align: right;
  line-height: 1.5;
  width:50%;
}

  
.intro-flex{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.initial-image{
  width:100%;
}

.image-wrapper{
  width: 60%;
  margin: auto;
}
.article-file{
  width: 90%;
  margin: auto;
}
.intro-title{
  text-align: center;
}
.intro-date{
  text-align: center;
  color: gray;
}
.magazine-file-title{
    text-align: center;
}

.dialog{
color:rgb(50,50,50);
margin-right:20%;
width:60%;
}
.dialog p{
text-align: center;
font-size:17px;
line-height: 30px;
margin-top: 0px;
}
.interview{
  margin: 20px;
  margin-bottom: 100px;
}
.skeleton-spacing{
  margin: 20px;
  text-align: center;

}
.interview-date{
  color:rgb(100,100,100);
  text-align: center;
}

@media screen and (max-width:1167px) {
  .crop{
    width: 100%;
    margin-bottom: 100px;
  }
  .intro-image{
    width: 100%;
    height: auto;
  }
  .intro-body{
    width: 100%;
  }
  .crop-loading{
    width:100%;
  }
  

}



@media only screen and (max-width:600px){


.image-wrapper{
  width: 95%;
  margin: auto;
}



.dialog{
  width:95%;
  margin-right: 2%;
}


}

