.title{
  margin-top: 75px;
  margin-bottom: 100px;
}
.newsTitle{
  margin-top: 75px;
}
.newsPage{
  min-height: 100vh;
}
.newsPaper{
  margin-bottom: 100px;
}
.newsPaperDate{
  text-align: center;
}
.imageWrapper{
  width:600px;
  margin: auto;
  border: 1px solid blue;
}
.newsPaperImage{
  width: 100%;
}
.newsCardLoading{
  margin:5%;
}

@media only screen and (max-width:650px) {
  .imageWrapper{
    width:90%;
  }
  
}
