body{
  margin:0px;
  padding: 0px;
}
.App{
  direction:rtl;
}
.not-found{
  height:100vh;
}

.app-body{
  margin-top: 70px;
  margin-bottom: 100px;
}

.toolbar{
  display: flex;
  align-items: center; 
}

.logo-wrapper{
  width:170px;
  margin: auto;
}

.cover{
  height:8%;
  background-color: rgb(245,245,245);
  text-align: center;
  padding: 5px;
  color:black;
  margin-bottom: 30px;
}

.menu-button{
  display:none;
}



.cerebro{
  padding: 20px;
}


.loading{
  height:100vh;

}


.link{
  text-decoration: none;
}


.link:visited{
color:blue;
}


@media (hover: hover) and (pointer: fine) {
  .link-paper:hover{
    transform: perspective(200px) translateY(-30px);
    }
}


.link-paper{
margin: 10px;
margin-left:10px;
}




@media only screen and (max-width:600px){

  
  .menu-button{
    border:none;
    background-color: inherit;
    cursor: pointer;
    display: block;
    position: absolute;
  }
 
 

}

