.video-card{
  width: 49%;
  margin: auto;
  margin-bottom: 100px;
}
.cerebro{
  margin: 0px;
}
@media only screen and (max-width:500px){
.video-card{
  width: 100%;
  margin-top:60px;
  margin-right: 0px;
}
}
